.TechsWindow {
  margin: 4rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.TechsWindow div {
  text-align: center;
  font-size: 1.5rem;
}

.TechsWindow img {
  width: 10rem;
}

.TechsMobile {
  margin: 1rem 1rem;
}

.TechsMobile .TopLayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.TechsMobile .TopLayer .BottomLayer {
  text-align: center;
}
